---
---

@import "{{ site.theme }}";

/*a:hover, a:focus {
  color:#069;
  font-weight: normal;
}*/

a:hover, a:focus { color: #069; font-weight: normal; }


header a:hover {font-weight:normal;}

header h1 {font-size:45pt;}

header p {}

footer {  bottom: 10px;}

footer p {margin: 0 0 0px;}

h1 a{
  color:black;  
}

h1 a:hover {
    
    font-weight: bold;
}

h1 em{opacity:0.3; font-size:35pt;}

.container {
    position: relative;
}

.bottomright {
    position: absolute;
    bottom: 0px;
    right: 16px;
}

header img {
    width: 80%;
    /*height: auto;*/
    opacity: 0.3;
}